body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #1a1a1a, #333); /* Mantém o fundo escuro */
  color: #f7f7fc;
  text-align: center;
}

/* Regra que limpa a caixa dos jogos mas mantém o site dark */
iframe[src*="itch.io/embed"] {
    border: none !important;
    box-shadow: none !important; /* Tira o brilho neon apenas daqui */
    background: transparent !important;
    display: inline-block;
    margin: 10px;
}

/* Mantém o brilho neon apenas em vídeos (como o da Home) */
video, iframe:not([src*="itch.io/embed"]) {
    border: 2px solid #0096ff;
    box-shadow: 0 0 15px #0096ff;
}
